@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Sora', sans-serif;
}

.cabecalho {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  height: 15rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
}

.titulo {
  font-size: 3rem;
  text-align: center;
  color: #f5f5f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letra1 {
  color: #5C913B;
}

.letra2 {
  color: #FFA200;
}

.letra3 {
  color: #CF3031;
}

.sobre {
  padding: 1rem;
  align-items: center;
  background: #FCFCFC;
}

.sobre-imagem {
  text-align: center;
}

.sobre-imagem img {
  width: 15rem;
  border-radius: 1rem;
}

.sobre-textos h2 {
  margin-bottom: 2rem;
}

.sobre-textos p {
  text-align: left;
}

.botao {
  background: #FFA200;
  color: #000;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

.botao:hover {
  border: 2px solid #FFA200;
  color: #FFA200;
  background: transparent;
}

.titulo-secao, .titulo-secao2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.titulo-secao2 {
  background: #FCFCFC;
}

.container-depoimentos, .container-menu {
  padding: 2rem;
}

.depoimento {
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.depoimento img{
  margin-top: 2rem;
  width: 5rem;
  border-radius: 5rem;
}

.nome-pessoa-depoimento {
  font-size: 0.6rem;
  color: #CF3031;
}

.container-menu {
  background-color: #FCFCFC ;
}

.card-pizza {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}

.card-pizza img {
  width: 5rem;
  border-radius: 5rem;
}

.texto-pequeno {
  font-size: 0.6rem;
  margin: 1.5rem;
}

.destaque-preco {
  font-size: 1.5rem;
}

.rodape {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.rodape a {
  color:#FFA200;
}

.rodape a:hover {
  color:#CF3031;
}

@media (min-width: 1025px) {
  .cabecalho {
    height: 30rem;
  }

  .titulo {
    font-size: 4rem;
  }

  .sobre, .container-depoimentos, .container-menu {
    display: flex;
    justify-content: space-around;
  }

  .sobre-textos p {
    width: 30rem;
  }

  .depoimento {
    width: 20rem;
  }
}